.app-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.sidebar-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  transition: width 0.28s;
}

.main-container {
  margin-left: 200px;
  height: 100%;
  transition: margin-left 0.28s;
}

.navbar {
  height: 50px;
  line-height: 50px;
}

.hideSidebar {
  .sidebar-container {
    width: 64px;

    .el-submenu__title {
        span {
            transition: all .3s cubic-bezier(.55, 0, .1, 1);
        }
    }
  }
  .main-container {
    margin-left: 64px;
  }
}
