.app-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.sidebar-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  transition: width 0.3s;
}

.main-container {
  margin-left: 200px;
  height: 100%;
  transition: margin-left 0.3s;
  background: gren;
}

.navbar {
  height: 50px;
  line-height: 50px;
}

.hideSidebar {
  .sidebar-container {
    width: 64px;

   
  }
  .main-container {
    margin-left: 64px;
  }
}
